<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	<bean name="address" class="org.hcl.collection.Address">
	<constructor-arg value="ramananagar"/>
	<constructor-arg value="bypass"/>
	<constructor-arg value="velpur"/>
	<constructor-arg value="53422"/>
	</bean>
	<bean name="Employee" class="org.hcl.collection.Employee">
	<property name="employeeName" value="tanuja"/>
	<property name="employeeEmail" value="paricherlatanuja1234"/>
	<property name="employeeMobileNumber">
	<list>
	<value>"843547534"</value>
	<value>"34546456"</value>
	</list>
	</property>
	<property name="employeeSalary" value="1000"/>
	<property name="address" ref="address">
	
	</property>
	</bean>

</beans>
