table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  h1 {
    text-align: center;
  }
  h5{
      text-align: center;
  }
  #image{
      align-content: center;
      display: block;
  margin-left: auto;
  margin-right: auto;  
  }
.odd{
    background-color:#b3edcf;
}
.even{
    background-color: #e0f0e9;
}
p{
    text-align: justifyS;
}
a{
    align-items: flex-end;
}
.main-header
{
    width: 100%;
    background-color: aquamarine;
}
.nav-items{
    display: inline-block;
    text-align: center;
    align-content: center;


}
